*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}
* {
    font-family: Raleway, Aria, sans-serif;
}

h1 {
    font-weight: 900;
    font-style: italic;
}

ul {
    list-style: none;
    font-weight: 400;

}

#sidebar {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    margin-right: 5rem;
    padding: 2rem;
    background-color: turquoise;
    color: darkslategray;
}
